<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Color+Emoji&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/82eb69e53c.js" crossorigin="anonymous"></script>    
    <title>Document</title>
</head>
<body class="bg-[#FFFFF0]">
    <div class="flex items-center justify-center flex-col h-20 w-full bg-white border-b border-[#F0F0FF] font-inter">
        <div class="w-[90%] flex items-center justify-between">
            <p class="text-lg font-semibold">LOLVote</p>
            <div class="flex flex-row items-center gap-3">
                <a class="h-10 px-3 rounded-lg border-2 border-[#000000] flex gap-2 items-center justify-center bg-white cursor-pointer text-sm transition-all duration-150 hover:bg-[#f5f5f5]">
                   <span class="font-noto">✏️</span> <p class="font-medium">Create A Poll</p>
                </a>
                <button class="openLoginForm h-10 px-3 rounded-lg border-2 border-[#000000] flex gap-2 items-center justify-center bg-white cursor-pointer text-sm transition-all duration-150 hover:bg-[#f5f5f5]">
                    <p class="font-medium">Sign In</p>
                </button>
            </div>
        </div>
    </div>
    <br>